
body {
   background-color: rgb(9, 9, 20);
}.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.container {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0px 1px 6px -2px rgb(128, 127, 127);

}
.spacecraft-wrapper {

}
.spacecraft-wrapper h1{
  color: rgb(233, 233, 233);
  background-color: rgb(60, 160, 218);
  letter-spacing: 3px;
}
.spacecraft {
  box-shadow: 0px 1px 6px -2px rgb(128, 127, 127);
}
.spacecraft h3{
  color: #3cda76;
}
.spacecraft p{
  color: white;
}
.spacecraft pre{
  color: white;
}

img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}