.favorites{
    text-align: center;
    box-sizing: border-box;
    width:400px;
    min-height:250px;
    background-color: #fca311;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    border:4px solid #e5e5e5;
    border-radius: 0%;
}
.favorite{
    display:flex;
    justify-content:flex-start;
    width:350px;
    align-items:center;
}
.favorite button{
    width:15px;
    height:15px;
    border-radius:10px;
    margin-right:6px;
}