.history{
    text-align: center;
    box-sizing: border-box;
    width:100%;
    min-height:250px;
    background-color: #e5e5e5;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    /* border:7px solid black; */
    border-radius: 0%;
    margin:20px;
}

.history button{
    margin:20px;
}