.suggestion{
    text-align: center;
    box-sizing: border-box;
    width:400px;
    height:250px;
    background-color: #fca311;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    border:4px solid #e5e5e5;
    border-radius: 0%;
}

button{
    padding:10px;
    border-radius:20px;
    border:1px solid #14213d;
    background-color: #e5e5e5d7;
    width:110px;
    height:40px;
    padding:00px
}
.buttons{
    display:flex;
    justify-content:space-around;
}
