.App {
  text-align: center;
}

img {
  max-width: 100px;
  border-radius: 50%;
}

.cards {
  border: 3px solid darkgray;
  border-radius: 17px;
  margin: 27px 177px;
  padding: 27px 0px;
}

.info {
  color: rgb(72, 72, 72);
  padding-bottom: 17px;
}